telegram_bot_token = ''
GROQ_API_KEY = ''
model_to_be_used = '' # in the provider/model format https://docs.litellm.ai/docs/providers
connection_string = '' # with password and username
db_name = ''
collection_name = ''
